<div class="conatiner mat-elevation-z8">
  <div class="table-container">
    <app-filter-section
      [filter]="dataSource"
      (dataChanged)="deleteSelectedRows($event)"
    ></app-filter-section>
    <table
      mat-table
      class="full-width-table"
      matSort
      aria-label="Elements"
      [dataSource]="dataSource"
      id="userTable"
    >
      <ng-container
        [matColumnDef]="column"
        *ngFor="let column of displayedColumns"
      >
        <th mat-header-cell *matHeaderCellDef class="headerColumn" sticky="true">
          <ng-container *ngIf="column === 'select';else headerView">
            <mat-checkbox
              (change)="$event ? dataSource.toggleAllRows() : null"
              [checked]="
                dataSource.selection.hasValue() && dataSource.isAllSelected()
              "
              [indeterminate]="
                dataSource.selection.hasValue() && !dataSource.isAllSelected()
              "
              [aria-label]="dataSource.checkboxLabel()"
            >
            </mat-checkbox>
          </ng-container>
          <ng-template #headerView>
            {{ column }}
          </ng-template>
        </th>
        <td mat-cell *matCellDef="let row">
          <app-table-row 
            [dataSource]="dataSource" 
            [row]="row" 
            [column]="column"
            (dataChanged)="deleteRow($event)"
            ></app-table-row>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator
    #paginator
    [length]="dataSource?.data?.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
